@font-face {
  font-family: "Score";
  src: url("./assets/fonts/SCDream4.otf");
}

* {
  font-family: "Score";
}

body {
  background-color: black;
  text-align: center;
}

h1 {
  color: white;
}

#myCanvas {
  background-color: #2a5;
}

button {
  background-color: white;
  font-size: 20px;
  padding: 5px 7px 7px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
